.projects {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:nth-child(3n) {
    margin-right: 0;
}

.project-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.gallery-thumb {
    position: relative;
    overflow: hidden;
}

.project-thumb {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .project-thumb {
    transform: translateY(0);
    opacity: 1;
}

.project-information {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-color);
}

.project-name {
    margin-bottom: 4px;
    margin-top: 20px;
    margin-left: 24px;
    margin-left: 24px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-type {
    margin-left: 24px;
    margin-left: 24px;
    margin-bottom: 20px;
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}