.subscribe-ft {
    margin-left: 93px;
}

.subscribe-ft label {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color);
}

.subscribe-ft input {
    margin-right: 12px;
    padding: 15px 0 15px 16px;
    width: 358px;
    height: 50px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer_background_color);
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-ft input::placeholder {
    /* padding: 15px 0 15px 16px; */
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.form-sub {
    padding: 10px 62px 10px 28px;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    color: var(--hero-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-sub {
    display: inline-block;
    position: relative;
}

.button-sub svg {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}