:root {
    --primary-color: #757575;
    --secondary-color: #212121;
    --logo-color: #000000;
    --hero-color: #FFFFFF;
    --footer-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --primary-background_color: #F5F5F5;
    --secondary-background-color: #F5F4FA;
    --footer_background_color: #2F303A;
}