.order-title {
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-enter {
    position: relative;
}

.form-enter svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus+svg {
    fill: var(--accent-color);
}

.form-field input:focus,
.form-field textarea:focus {
    outline: 1px solid var(--accent-color);
    border: none;
    border-radius: 4px;
}

.form-field label {
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--primary-color);
}

.form-field input {
    padding: 12px 42px;
    margin: 0;
    width: 448px;
    height: 40px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border: none;
    border-radius: 4px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
    width: 448px;
    height: 120px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-agree {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

/* .form-agree input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
} */

.form-agree input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-none {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 1;
}

.check-ok {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
}

.form-agree input:checked~label .check-none {
    opacity: 0;
}

.form-agree input:checked~label .check-ok {
    opacity: 1;
}

.form-agree label {
    margin-left: 23px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.form-agree-link {
    color: var(--accent-color);
    text-decoration: underline;
}

.form-button {
    padding: 10px 52px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    color: var(--hero-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}